<!DOCTYPE html>
<html>
<head>
  <title>Webhooky</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="action-cable-url" content="/cable">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_importmap_tags %>
</head>
<body>
  <header class="app-header">
    <div class="header-content">
      <a href="/" class="logo">Webhooky</a>
      <div class="header-actions">
        <%= button_to "+ New URL", tokens_path, method: :post, class: "btn btn-new" %>
      </div>
    </div>
  </header>
  <main>
    <%= yield %>
  </main>
</body>
</html>
